.organelle {
    background: orange;
}
.md {
  display: grid;
  grid: "0 0 0 0"
}

.T-a--b__default__ {
  @extend .organelle;
  @extend .md;
}

@mixin organ() {
}

@mixin tissue() {
  @include organ();
}
